.contact-section h2, .contact_ok {
	padding-top: 30px;
	padding-bottom: 10px;
}

.contact-image {
	padding-top: 66px;
}

.form-input input {
	height: 50px;
}

textarea.form-control {
	height: 170px;
}

textarea {
	resize: none;
}

.btn {
	width: 200px;
	margin: 10px;
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	font-size: 1.2em;
}

.btn:hover {
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	opacity: 0.8;
	transition: .8s ease;
}

#contact {
	margin-left: 10px;
	margin-right: 10px;
}